@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

html {
    height: 100%;
    /* border-right: 30px solid black;
    border-left: 30px solid black; */
}

body {
    /* max-height: 100vh; */
    border-right: 30px solid black;
    border-left: 30px solid black;
}

.top {
    text-align: center;
    font-family: "Merriweather Sans", sans-serif;
    margin-top: 50px;
    margin-bottom: 150px;
    font-size: 2em;
    min-width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 50%;
    width: 100%
}

.space {
    height: 10%;
    margin-bottom: 80px;
}

.button {
    padding: 30px;
    min-width: 300px;
    border-radius: 50px;
    font-size: 20px;
    height: 100px;
    /* width: 50%; */
}

